<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (accountService.currentUser()) {
      <li class="nav-item">
        <a
          routerLink="/members"
          routerLinkActive="router-link-active"
          class="nav-link"
          routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/lists" class="nav-link" routerLinkActive="active"
          >Lists</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="messages" class="nav-link" routerLinkActive="active"
          >Messages</a
        >
      </li>
      }
      <li class="nav-item">
        <a routerLink="errors" class="nav-link" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>

    @if(accountService.currentUser()){
    <div dropdown class="dropdown">
      <img 
        class="me-2"
        src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}" 
        alt="user main image"
      >
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
        >Welcome {{accountService.currentUser()?.username | titlecase}}</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    } @if (!accountService.currentUser()) {
    <form
      class="d-flex"
      autocomplete="off"
      #loginForm="ngForm"
      (ngSubmit)="login()"
    >
      <input
        class="form-control me-2"
        placeholder="Username"
        name="username"
        [(ngModel)]="model.username"
      />
      <input
        class="form-control me-2"
        placeholder="Password"
        type="password"
        name="password"
        [(ngModel)]="model.password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    }
  </div>
</nav>
